<!DOCTYPE html>
<html>

<head>
    <title>Bundle for Racial Justice and Equality contents</title>
    <link rel="stylesheet" href="static/style.css" />
    <link rel="icon" type="image/png" href="static/favicon.png" />
    <meta charset="utf-8" />
</head>

<body>
    <div id="app" v-cloak>
        <h1>
            <a href="https://itch.io/b/520/bundle-for-racial-justice-and-equality">Bundle for Racial Justice and Equality</a> contents
            <a href="https://github.com/mkalam-alami/itch-bundle-explorer" id="github-link">Fork this repo on Github</a>
        </h1>
        <div id="form">
            <div><input id="search" v-model="search" placeholder="Start typing..." @keyup="onSearch()" /></div>
            <div><label for="steamOnly"><input type="checkbox" id="steamOnly" name="steamOnly" v-model="steamOnly"> Steam games only</label></div>
            <div>
                <label for="categoryGame"><input type="checkbox" id="categoryGame" name="categoryGame" v-model="categoryGame"> Video games</label>
                <label for="categoryBook"><input type="checkbox" id="categoryBook" name="categoryBook" v-model="categoryBook"> Books</label>
                <label for="categoryAssets"><input type="checkbox" id="categoryAssets" name="categoryAssets" v-model="categoryAssets"> Assets & tools</label>
                <label for="categorySoundtrack"><input type="checkbox" id="categorySoundtrack" name="categorySoundtrack" v-model="categorySoundtrack"> Soundtracks</label>
                (Category detection is keyword-based, which may cause some mistakes)
            </div>
        </div>
        <div>
            <i>Bundle contents last updated on June 15th.</i>
        </div>

        <hr />

        <h2>
            Showing {{ results.length }} results
            <span v-if="resultsCount > results.length">out of {{ resultsCount }}</span>
            <label for="allResults"><input type="checkbox" id="allResults" name="allResults" v-model="allResults"> Always show all results (slower)</label>
        </h2>
        <div class="games">
            <div class="game" v-for="game in results">
                <a v-bind:href="game.url" class="main-link">
                    <h3 class="game__title">{{ game.title }}</h3>
                    <div class="game__user">By {{ game.user.name }}</div>
                    <img v-lazy-src="'static/pics/' + game.id + '.png'" />
                </a>
                <a v-if="game.steamAppId" v-bind:href="'https://store.steampowered.com/app/' + game.steamAppId" target="_blank"> 
                    <img class="steam-icon" src="static/steam.svg" /> Steam page
                </a>
            </div>
        </div>
    </div>
    <script src="static/dist/games.js"></script>
    <script src="static/dist/bundle.js"></script>
</body>

</html>