body {
    background-color: #DDD;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

[v-cloak] {
    display: none;
}

a {
    color: #555;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    color: #ff2449;
    border: 0 solid #ff2449;
}
a:hover.main-link img {
    transform: scale(1.04);
    transition: 0.2s;
    border: 3px solid #ff2449;
}

#github-link {
    font-size: 14px;
}

#search {
    font-size: 30px;
    border-radius: 4px;
    border: 1px solid #888;
    padding: 20px;
    max-width: 100%;
    width: 500px;
}

.games {
    display: flex;
    flex-wrap: wrap;
}
.game {
    width: 314.5px;
    min-height: 340px;
}
.game__title {
    margin-bottom: 0;
}
.game__user {
    margin-bottom: 10px;
    font-weight: normal;
}

#form {
    margin-bottom: 20px;
}
#form label {
    display: inline-block;
    margin-top: 10px;
    font-size: 20px;
}

h2 label {
    font-size: 14px;
}

.steam-icon {
    height: 16px;
    vertical-align: middle;
}
